@import "_reset.scss";

//variables
$headfontwidth : 20px;
$secfontwidth:15px;
$pinkcolor:darken(pink, 40%);
$yellowcolor:darken(yellow, 8%);
$backgroundcolor:complement($yellowcolor);

//mixins
@mixin fontstyles{
  h1{
    color:$pinkcolor;
    font-size: $headfontwidth;
  }
  h2{
    color:yellow;
    font-size: $secfontwidth;
    text-align: center;
  }
  p 
  {
    color:$yellowcolor;
  }
}

@mixin navigation_style {
  a{ text-align: center;
    display: block;
    margin: 0 auto;
    color:complement($backgroundcolor);
  }
}


//-----------------------------------

body {
  background:$backgroundcolor;
}

.allcontent{

  .main_headerarea{
    height:450px;
    background:url(../images/piczero.png);
    background-size:100%;

    @include fontstyles;
    h1 {
      text-align: center;
      font-size: 40px;
      text-align: center;
      padding-bottom: 10px;
      border: 1px solid red;
      padding-top: 200px;
    }
  }
}

nav{
  @include navigation_style;
}


.firstwrite{
  @include fontstyles;
}

.left {
  @include fontstyles;
}




